* {
    border: none;
    border-radius: 10px;
    font-family: "IosevkaTerm Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #000000;
    border-radius: 7px;
    border-width: 2.5px;
    border-style: solid;
    border-color: #8aadf4;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#workspaces button {
    color: #313244;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 0px;
}

#workspaces button.active {
    color: #89b4fa;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 13px;
}



#workspaces button.persistent {
    color: #f9e2af;
}


#workspaces button.empty {
    color: #313244;
}

#workspaces button.active,
#workspaces button.visible {
    color: #89b4fa;
    box-shadow: inset 0 -1px #1e1e2e;
}

#workspaces button.urgent {
    color: #f38ba8;
}
#cpu,
#temperature,
#memory,
#pulseaudio,
#disk,
#tray,
#network,
#backlight,
#workspaces,
#clock,
#tray,
#battery
{
    background: #1e1e2e;
    opacity: 1.0;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 13px;
    margin-right: 5px;
    margin-left: 5px;
}

.modules-center,
.modules-left,
.modules-right
{
    background: red;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    border-radius: 20px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 13px;
    margin-left: 0px;
    padding-right: 0px;
}

#window {
    border-radius: 7px;
    margin-left: 60px;
    margin-right: 60px;
}
