@import "colours.css";

* {
    border: none;
    font-family: "IosevkaTerm Nerd Font Propo";
    font-weight: normal;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background-color: @bg-main;
}

tooltip {
    background-color: @bg-main;
    font-size: 2px;
    color: @bg-main;
}

tooltip label {
    margin: 2px;
}

window#waybar.empty #window {
    font-size: 0px;
}

.modules-right {
    margin-right: 20px;
}

.modules-right :last-child {
    margin-right: 0px;
}

.modules-left {
    margin-left: 20px;
}

.modules-left :last-child {
    margin-left: 0px;
}

.module {
    padding: 1px 10px;
    margin: 4px 4px;
    background-color: transparent;
    border-radius: 6px;
    color: @fg-main;
}

.modules-right .module {
    background-color: @bg-alt;
}

.modules-right .module:hover,
.modules-center .module:hover
{
    background-color: @bg-hover;
}

.modules-right .module {
    font-size: 20px;
}

#workspaces {
    padding: 0px 8px;
    background-color: @bg-alt;
    border-radius: 50px;
    margin: 6px 0px;
}

#workspaces button {
    padding: 0;
    margin: 0 1px;
    border-radius: 6px;
    color: @fg-main;
    background-color: transparent;
    font-weight: bold;
}

#workspaces button.empty {
    background-color: transparent;
    color: @bg-hover;
}

#workspaces button.active {
    color: @hl-main;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: @bg-main;
}

#workspaces :first-child {
    margin-left: 0px;
}

#workspaces :last-child {
    margin-right: 0px;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @error;
}

#custom-cpucores {
    font-size: 16px;
    border-bottom: 1px solid @fg-main;
    padding: 0px;
    border-radius: 0px;
}

#custom-icon {
    font-size: 20px;
    margin: 5px 10px;
    margin-left: 0px;
    padding: 0px 6px;
    color: @fg-alt;
    background-color: @hl-main;
}
